@import "_variables.scss";

#gallery {
  .apartmentCard {
    padding-top: 7px;
    padding-bottom: 7px;
    a {
      text-decoration: none;
      color: #333333;
    }
  }

  .wrapperCard {
    border-radius: .25rem;
    box-shadow: $shadow-card-hover;
  }

  .wrapperCard:hover {
    box-shadow: $shadow-card;
  }

  .imageWrapper {
    position: relative;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
  }

  .status {
    background-color: $secondary;
    color: white;
    position: absolute;
    top: $position-inside-card;
    left: $position-inside-card;
    padding: $padding-status;
  }

  .price {
    color: white;
    background-color: rgba($color: black, $alpha: .4);
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    bottom: $position-inside-card;
    left: $position-inside-card;
    margin: 0;
  }

  .heart {
    position: absolute;
    right: $position-inside-card;
  }

  .heart path:hover {
    fill: $fill-heart-hover;
  }

  .city {
    margin-left: 15px;
  }

  .infoWrapper {
    height: 75px;
  }
}


///////////////////   btn show more   ///////////////////

#loadBtn {
  margin: 10px;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

#searchNav {
  margin-top: 10px;
  .inputSearchStyle {
    padding: .375rem .75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
    outline: none;
    position: relative;
  }

  .pill-button {
    position: absolute;
    top: 125px;
    right: 45px;
    border-radius: 50rem;
  }

  .pill-buttons {
    border: 1px solid #333;
    padding: 5px 20px;
  }

  .button-list {
    background-color: #333;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
  }

  .button-map {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .cities {
    width: 221px;
  }

  .submitBtn {
    background-color: $primary;
    border-color: $primary;
    color: #fff;
    margin-left: 0; 
    &:hover {
      background-color: $primary_light;
    }
  }

  .iconDropButton {
    font-weight: lighter;
    font-size: small;
    margin-left: 5px;
  }

  .chevron-down-icon {
    font-size: 10px;
    margin-left: 8px;
  }

  .openDropdown {
    position: absolute;
    top: auto;
    left: auto;
    z-index: 99;
    float: left;
    min-width: 10rem;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid $text;
    border-radius: .25rem;
    margin-top: 10px;
    margin-left: 5px;
    background-color: white;

    .titleOpenDropdown {
      background-color: $light;
      color: $text;
      font-weight: bold;
      padding: 5px;
    }
    .contentOpenDropdown {
      .wrapper {
        margin: 10px;
        justify-content: space-between;
      }
      .buttonInputStyle {
        padding: .375rem .75rem;
        color: $text;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid $text_light;
        border-radius: .25rem;
        margin: 0 5px;
      }
      .inputInsidePrice {
        padding-left: 4px;
        border: none;
        width: 90%;
        outline: none;
      }
      .inputPrice {
        width: 150px;
      }
      .bigPriceList {
        list-style: none;
        padding: inherit;
        li {
          color: $text;
          padding: 4px;
          cursor: context-menu; 
          &:hover {
            color: $primary;
          }
        }
      }
      .chosenCircle {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          border: 1px solid $primary;
          border-radius: 50%;
          color: $primary;
        }
      }
    }
  }
  .allFiltersDropdown {
    position: relative !important;
    float: none !important;
    margin: 5px;
  }
}