#header {
    //////////////////// General ////////////////////
    ul {
        margin: 0;       
        li {
            padding: 0;
        }
    }

    .logo, ul, .burger-button, .icon {
        padding: 10px;
    }

    //////////////////// Options ////////////////////
    .options {
        .burger-button {
            align-items: center;
            text-align: left;
    
            .lineBurgerButton {
              width: 23px;
              height: 2px;
              background-color: $text;
              border-radius: 4px;
              margin: 4px;
            }
        }
        li {
            margin-right: 25px;
            text-align: left;

        }
    }

    //////////////////// Logo ////////////////////
    .logo {
        display: flex;
        justify-content: center;
    }

    //////////////////// Sign ////////////////////
    .sign {
        ul {
            display: none;
            justify-content: flex-end;
            li {
                text-align: right;
                padding: 0 10px;
            }
        }
        .icon {
            text-align: right;
            font-size: 1.3rem;
        }
    }
}