#header {
    //////////////////// General ////////////////////
    ul {
        margin: 0;
        li {
            padding: 0;
        }
    }

    .logo,
    ul,
    .burger-button,
    .icon {
        padding: 10px;
    }

    //////////////////// Options ////////////////////
    .options {
        .burger-button {
            align-items: center;
            text-align: left;

            .lineBurgerButton {
                width: 23px;
                height: 2px;
                background-color: $text;
                border-radius: 4px;
                margin: 4px;
            }
        }
        li {
            margin-right: 25px;
            text-align: left;
        }
    }

    //////////////////// Logo ////////////////////
    .logo-wrapper {
        display: flex;
        align-items: center;

        .border-logo {
            background-color: $light;
            border-radius: 4px;

            .logo {
                padding-left: 4px;
                padding-right: 4px;
                font-family: "Crimson Text";
                font-size: x-large;
                color: $primary;
            }
        }
    }

    //////////////////// Sign ////////////////////
    .sign {
        .header-option-wrapper {
            justify-content: flex-end;
            padding-left: 4px;
            padding-right: 4px;

            .header-option {
                display: none;
                text-align: right;
                padding: 0 10px;
                cursor: pointer;
            }
        }

        .icon-astronaut {
            text-align: right;
            font-size: 1.3rem;
        }

        .modal {
            .sign-type-wrapper {
                width: 100%;

                .sign-type {
                    border: none;
                    outline: none;

                    &.chosen {
                        background: $primary_light;
                    }
                }
            }
            .modal-body {
                .input {
                    border: none;
                    border-bottom: 1px solid $text;
                    outline: none;
                }

                .icons {
                    width: 1.3rem;
                    height: 1.3rem;
                }

                .send {
                    width: 2.5rem;
                    height: 2.5rem;
                    padding: 0.4rem;
                    border-radius: 50%;
                    background-color: $primary_light;
                    border: 1px solid $primary;
                    cursor: pointer;
                }
            }
        }
    }
}
