@import "./variables";

body {
  color: $text;
  width: 100%;

  li {
    list-style: none;
  }

  button,
  button:hover,
  a,
  a:hover {
    color: $text;
    outline: none !important;
  }

  button:hover,
  a:hover {
    text-decoration: none;
  }

  button {
    border: none;
    background: none;
  }

  // Global Classes
  .perfect-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cover-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  }

  .bottom-line {
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
      border-bottom: 3px solid $primary;
    }
  }
  .bottom-line-chosed {
    border-bottom: 3px solid $primary_dark !important;
  }

  .left-top {
    background-color: $secondary;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: $position-inside-card;
    left: $position-inside-card;
    padding: $padding-status;
    z-index: 1;
  }

  .left-bottom {
    color: white;
    background-color: rgba($color: black, $alpha: 0.4);
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    bottom: $position-inside-card;
    left: $position-inside-card;
    padding: $padding-status;
    margin: 0;
    z-index: 1;
  }

  .right-top {
    color: white;
    background-color: rgba($color: black, $alpha: 0.4);
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: $position-inside-card;
    right: $position-inside-card;
    padding: $padding-status;
    margin: 0;
    z-index: 1;
  }
  .burger-button {
    align-items: center;
    text-align: left;

    .lineBurgerButton {
      width: 23px;
      height: 2px;
      background-color: $text;
      border-radius: 4px;
      margin: 4px;
    }
  } 
}
