
#mainUserPage {

    .burger-button {
        align-items: center;
        margin: 0;
        margin-top: 1.5rem;
        margin-left: 1rem;
        display: block;
        
        .lineBurgerButton {
            width: 23px; 
            height: 2px;
            background-color: grey;
            border-radius: 4px;
            margin: 4px;
            transition: all .3s;
        }
          
        &:hover {
            .lineBurgerButton {
                background-color: red;
            }
        }
    }

    .sideNav {
        position: fixed;
        top: 70px;
        left: 0;
        width: 248px;
        z-index: 10;

        .closeNav {
            border: none;
            background: transparent;
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: small;

            &:hover {
                border: 0;
            }
        }

        a {
            text-decoration: none !important;
        }

        .myBtn {
            display: block;
            margin-left: 15px;
        }

        .myBtn:focus,.myBtn:active {
            outline: none !important;
            box-shadow: none;
            
         }

        ul {
            margin: 0;
            padding-inline-start: 20px;

            li {
                cursor: pointer;   
                border-bottom: 2px solid transparent;
                width: fit-content;
                padding-left: 2.5px;
                padding-right: 2.5px;
                margin-top: .25rem;
                margin-bottom: .25rem;
                transition: all .3s;
                
                &:hover {
                    border-bottom: 2px solid red;
                    color: red;
                }
            }
        }

        // button, button:hover {
        //     color: $text-color;
        // }

        button {
            border-bottom: 2px solid transparent;
            border-radius: 0;
            padding-left: 2.5px;
            padding-right: 2.5px;
            transition: all .3s;
        }

        button:hover {
            text-decoration: none;
            border-bottom: 2px solid red;
            color: red;
        }
    }
}