// colors
$text: #333;
$text_light: #9f9f9f;
$text_dark: black;
$text_hover: rgb(80, 80, 80);
$link: #3377CC;
$link_light: rgb(59, 135, 228);
$link_dark: #1f4574;
$link_hover: #24538f;
$primary: #00d99d;
$primary_light: #00d99d;
$primary_dark: #00d99d;
$primary_hover: #02ad7e;
$secondary: #f2c642;
$secondary_light: #f2c642;
$secondary_dark: #f2c642;
$secondary_hover: #f2c642;
$green: #088620;

$transition: 'all .2s ease-in-out';

/* /////////////////////////    card    /////////////////////////// */
$shadow-card: 0 2px 15px -2px #a8a8a8;
$shadow-card-hover: 0 2px 15px 2px #a8a8a8;
$border-radius: .25rem;
$position-inside-card: 16px;
$padding-status: 2px 5px;
$fill-heart-hover: rgba(225, 0, 0, 0.5);
