body {
  color: #333;
  outline: none !important;
  width: 100%; }
  body li {
    list-style: none; }
  body button, body button:hover, body a, body a:hover {
    color: #333; }
  body button:hover, body a:hover {
    text-decoration: none; }
  body .perfect-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  body .cover-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; }
  body .bottom-line {
    border-bottom: 3px solid transparent;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    body .bottom-line:hover {
      border-bottom: 3px solid #00d99d; }

#header ul {
  margin: 0; }
  #header ul li {
    padding: 0; }

#header .logo, #header ul, #header .burger-button, #header .icon {
  padding: 10px; }

#header .options .burger-button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left; }
  #header .options .burger-button .lineBurgerButton {
    width: 23px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    margin: 4px; }

#header .options li {
  margin-right: 25px;
  text-align: left; }

#header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#header .sign ul {
  display: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  #header .sign ul li {
    text-align: right;
    padding: 0 10px; }

#header .sign .icon {
  text-align: right;
  font-size: 1.3rem; }

#footer {
  background-color: #333;
  padding: 10px; }
  #footer .about-me {
    color: #9f9f9f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #footer .icons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #footer .icons-wrapper .footer-icon {
      color: #fff;
      font-size: 2.5rem;
      margin: .5rem;
      outline: none;
      -webkit-transition: color .2s;
      -o-transition: color .2s;
      transition: color .2s; }
    #footer .icons-wrapper .instagram-wrapper {
      position: relative; }
      #footer .icons-wrapper .instagram-wrapper .instagram-hover {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 12px;
        background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        opacity: 0;
        -webkit-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s; }
        #footer .icons-wrapper .instagram-wrapper .instagram-hover:hover {
          opacity: 1; }
    #footer .icons-wrapper .pinterest:hover {
      color: #BD081C; }
    #footer .icons-wrapper .linkedin:hover {
      color: #2867B2; }
    #footer .icons-wrapper .twitter:hover {
      color: #38A1F3; }
    #footer .icons-wrapper .facebook:hover {
      color: #4267b2; }

#search {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("/images/general/main_image.jpg");
  color: white; }
  #search .content-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px 15px 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem; }
    #search .content-wrapper .description {
      display: none; }
    #search .content-wrapper .sale-options-wrapper {
      padding-left: .5rem; }
      #search .content-wrapper .sale-options-wrapper .sale-options {
        font-weight: bold; }
        #search .content-wrapper .sale-options-wrapper .sale-options a {
          color: white; }
    #search .content-wrapper .search-form {
      width: 100%;
      height: 55px;
      margin-left: auto;
      margin-left: auto;
      margin-right: auto; }
      #search .content-wrapper .search-form .select {
        height: 100%;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border: none;
        font-size: 110%;
        padding-left: 20px;
        outline: none; }
        #search .content-wrapper .search-form .select::-webkit-input-placeholder {
          color: lightgray; }
        #search .content-wrapper .search-form .select:-ms-input-placeholder {
          color: lightgray; }
        #search .content-wrapper .search-form .select::-ms-input-placeholder {
          color: lightgray; }
        #search .content-wrapper .search-form .select::placeholder {
          color: lightgray; }
      #search .content-wrapper .search-form .submit {
        height: 100%;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border: none;
        background-color: #00d99d;
        color: white;
        font-size: 110%;
        padding: 0 20px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        outline: none; }
        #search .content-wrapper .search-form .submit:hover {
          background-color: #02ad7e; }

#info-line {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  #info-line .info-header {
    padding: 20px 0; }
  #info-line .numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-radius: 4px;
    padding: 30px 10px;
    -webkit-box-shadow: 0 rgba(0, 0, 0, 0);
    box-shadow: 0 rgba(0, 0, 0, 0);
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    transition: -webkit-box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out; }
    #info-line .numbers:hover {
      -webkit-box-shadow: 0px 2px 15px 2px rgba(168, 168, 168, 0.75);
      box-shadow: 0px 2px 15px 2px rgba(168, 168, 168, 0.75); }
    #info-line .numbers .section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 10px 0; }
      #info-line .numbers .section .number {
        font-size: 30px;
        font-weight: none;
        color: #3377cc;
        text-decoration: none; }
        #info-line .numbers .section .number:hover {
          color: #24538f; }
      #info-line .numbers .section .description {
        color: gray;
        text-decoration: none; }
