body {
  color: #333;
  outline: none !important;
  width: 100%; }
  body li {
    list-style: none; }
  body button, body button:hover, body a, body a:hover {
    color: #333; }
  body button:hover, body a:hover {
    text-decoration: none; }
  body .perfect-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

#header ul {
  margin: 0; }
  #header ul li {
    padding: 0; }

#header .logo, #header ul, #header .burger-button, #header .icon {
  padding: 10px; }

#header .options .burger-button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left; }
  #header .options .burger-button .lineBurgerButton {
    width: 23px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    margin: 4px; }

#header .options li {
  margin-right: 25px;
  text-align: left; }

#header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#header .sign ul {
  display: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  #header .sign ul li {
    text-align: right;
    padding: 0 10px; }

#header .sign .icon {
  text-align: right;
  font-size: 1.3rem; }
