/* /////////////////////////    card    /////////////////////////// */
body {
  color: #333;
  outline: none !important;
  width: 100%; }
  body li {
    list-style: none; }
  body button, body button:hover, body a, body a:hover {
    color: #333; }
  body button:hover, body a:hover {
    text-decoration: none; }
  body button {
    border: none;
    background: none; }
  body .perfect-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  body .cover-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; }
  body .bottom-line {
    border-bottom: 3px solid transparent;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    body .bottom-line:hover {
      border-bottom: 3px solid #00d99d; }
  body .bottom-line-chosed {
    border-bottom: 3px solid #01be89 !important; }

/* /////////////////////////    card    /////////////////////////// */
#header ul {
  margin: 0; }
  #header ul li {
    padding: 0; }

#header .logo,
#header ul,
#header .burger-button,
#header .icon {
  padding: 10px; }

#header .options .burger-button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left; }
  #header .options .burger-button .lineBurgerButton {
    width: 23px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    margin: 4px; }

#header .options li {
  margin-right: 25px;
  text-align: left;
  outline: none; }

#header .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #header .logo-wrapper .small-logo {
    height: 30px; }
  #header .logo-wrapper .big-logo {
    height: 35px; }

#header .sign .header-option-wrapper {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 4px;
  padding-right: 4px; }
  #header .sign .header-option-wrapper .header-option {
    display: none;
    text-align: right;
    padding: 0 10px;
    cursor: pointer; }

#header .sign .icon-astronaut {
  text-align: right;
  font-size: 1.3rem; }

#header .sign .modal .sign-type-wrapper {
  width: 100%; }
  #header .sign .modal .sign-type-wrapper .sign-type {
    border: none;
    outline: none; }
    #header .sign .modal .sign-type-wrapper .sign-type.chosen {
      background: #00ffb7; }

#header .sign .modal .modal-body .input {
  border: none;
  border-bottom: 1px solid #333;
  outline: none; }

#header .sign .modal .modal-body .icons {
  width: 1.3rem;
  height: 1.3rem; }

#header .sign .modal .modal-body .send {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.4rem;
  border-radius: 50%;
  background-color: #00ffb7;
  border: 1px solid #00d99d;
  cursor: pointer; }

/* /////////////////////////    card    /////////////////////////// */
#footer {
  background-color: #333;
  padding: 10px; }
  #footer .about-me {
    color: #9f9f9f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #footer .icons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #footer .icons-wrapper .footer-icon {
      color: #fff;
      font-size: 2.5rem;
      margin: .5rem;
      outline: none;
      -webkit-transition: color .2s;
      -o-transition: color .2s;
      transition: color .2s; }
    #footer .icons-wrapper .instagram-wrapper {
      position: relative; }
      #footer .icons-wrapper .instagram-wrapper .instagram-hover {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 12px;
        background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        opacity: 0;
        -webkit-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s; }
        #footer .icons-wrapper .instagram-wrapper .instagram-hover:hover {
          opacity: 1; }
    #footer .icons-wrapper .pinterest:hover {
      color: #BD081C; }
    #footer .icons-wrapper .linkedin:hover {
      color: #2867B2; }
    #footer .icons-wrapper .github:hover {
      color: black; }
    #footer .icons-wrapper .facebook:hover {
      color: #4267b2; }

#search {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("/images/general/main_image.jpg");
  color: white; }
  #search .content-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px 15px 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem; }
    #search .content-wrapper .description {
      display: none; }
    #search .content-wrapper .sale-options-wrapper {
      padding-left: .5rem; }
      #search .content-wrapper .sale-options-wrapper .sale-options {
        font-weight: bold; }
    #search .content-wrapper .search-form {
      width: 100%;
      height: 55px;
      margin-left: auto;
      margin-left: auto;
      margin-right: auto; }
      #search .content-wrapper .search-form .select {
        height: 100%;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border: none;
        font-size: 110%;
        padding-left: 20px;
        outline: none; }
        #search .content-wrapper .search-form .select::-webkit-input-placeholder {
          color: lightgray; }
        #search .content-wrapper .search-form .select:-ms-input-placeholder {
          color: lightgray; }
        #search .content-wrapper .search-form .select::-ms-input-placeholder {
          color: lightgray; }
        #search .content-wrapper .search-form .select::placeholder {
          color: lightgray; }
      #search .content-wrapper .search-form .submit {
        height: 100%;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border: none;
        background-color: #00d99d;
        color: white;
        font-size: 110%;
        padding: 0 20px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        outline: none; }
        #search .content-wrapper .search-form .submit:hover {
          background-color: #01be89; }

#info-line {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  #info-line .info-header {
    padding: 20px 0; }
  #info-line .numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-radius: 4px;
    padding: 30px 10px;
    -webkit-box-shadow: 0 rgba(0, 0, 0, 0);
    box-shadow: 0 rgba(0, 0, 0, 0);
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    transition: -webkit-box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out; }
    #info-line .numbers:hover {
      -webkit-box-shadow: 0px 2px 15px 2px rgba(168, 168, 168, 0.75);
      box-shadow: 0px 2px 15px 2px rgba(168, 168, 168, 0.75); }
    #info-line .numbers .section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 10px 0; }
      #info-line .numbers .section .number {
        font-size: 30px;
        font-weight: none;
        color: #3377cc;
        text-decoration: none; }
        #info-line .numbers .section .number:hover {
          color: #24538f; }
      #info-line .numbers .section .description {
        color: gray;
        text-decoration: none; }

/* /////////////////////////    card    /////////////////////////// */
#gallery .apartmentCard {
  padding-top: 7px;
  padding-bottom: 7px; }
  #gallery .apartmentCard a {
    text-decoration: none;
    color: #333333; }

#gallery .wrapperCard {
  border-radius: .25rem;
  -webkit-box-shadow: 0 2px 15px 2px #a8a8a8;
  box-shadow: 0 2px 15px 2px #a8a8a8; }

#gallery .wrapperCard:hover {
  -webkit-box-shadow: 0 2px 15px -2px #a8a8a8;
  box-shadow: 0 2px 15px -2px #a8a8a8; }

#gallery .imageWrapper {
  position: relative;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem; }

#gallery .status {
  background-color: #088620;
  color: white;
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 2px 5px; }

#gallery .price {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 16px;
  left: 16px;
  margin: 0; }

#gallery .heart {
  position: absolute;
  right: 16px; }

#gallery .heart path:hover {
  fill: rgba(225, 0, 0, 0.5); }

#gallery .city {
  margin-left: 15px; }

#gallery .infoWrapper {
  height: 75px; }

#loadBtn {
  margin: 10px; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

#searchNav {
  margin-top: 10px; }
  #searchNav .inputSearchStyle {
    padding: .375rem .75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
    outline: none;
    position: relative; }
  #searchNav .pill-button {
    position: absolute;
    top: 125px;
    right: 45px;
    border-radius: 50rem; }
  #searchNav .pill-buttons {
    border: 1px solid #333;
    padding: 5px 20px; }
  #searchNav .button-list {
    background-color: #333;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white; }
  #searchNav .button-map {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; }
  #searchNav .buttonStyle {
    padding: .375rem .75rem;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #9f9f9f;
    border-radius: .25rem;
    margin: 2.5px 5px;
    position: relative;
    outline: none;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s; }
    #searchNav .buttonStyle:hover {
      background-color: #f7f5f5; }
  #searchNav .cities {
    width: 221px; }
  #searchNav .submitBtn {
    background-color: #00d99d;
    border-color: #00d99d;
    color: #fff;
    margin-left: 0; }
    #searchNav .submitBtn:hover {
      background-color: #00ffb7; }
  #searchNav .iconDropButton {
    font-weight: lighter;
    font-size: small;
    margin-left: 5px; }
  #searchNav .chevron-down-icon {
    font-size: 10px;
    margin-left: 8px; }
  #searchNav .openDropdown {
    position: absolute;
    top: auto;
    left: auto;
    z-index: 99;
    float: left;
    min-width: 10rem;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid #333;
    border-radius: .25rem;
    margin-top: 10px;
    margin-left: 5px;
    background-color: white; }
    #searchNav .openDropdown .titleOpenDropdown {
      background-color: #f7f5f5;
      color: #333;
      font-weight: bold;
      padding: 5px; }
    #searchNav .openDropdown .contentOpenDropdown .wrapper {
      margin: 10px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    #searchNav .openDropdown .contentOpenDropdown .buttonInputStyle {
      padding: .375rem .75rem;
      color: #333;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #9f9f9f;
      border-radius: .25rem;
      margin: 0 5px; }
    #searchNav .openDropdown .contentOpenDropdown .inputInsidePrice {
      padding-left: 4px;
      border: none;
      width: 90%;
      outline: none; }
    #searchNav .openDropdown .contentOpenDropdown .inputPrice {
      width: 150px; }
    #searchNav .openDropdown .contentOpenDropdown .bigPriceList {
      list-style: none;
      padding: inherit; }
      #searchNav .openDropdown .contentOpenDropdown .bigPriceList li {
        color: #333;
        padding: 4px;
        cursor: context-menu; }
        #searchNav .openDropdown .contentOpenDropdown .bigPriceList li:hover {
          color: #00d99d; }
    #searchNav .openDropdown .contentOpenDropdown .chosenCircle {
      width: 50px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #searchNav .openDropdown .contentOpenDropdown .chosenCircle:hover {
        border: 1px solid #00d99d;
        border-radius: 50%;
        color: #00d99d; }

#apartment {
  margin-top: 2rem; }
  #apartment .nextPrevApartmentPointer {
    padding: 16px 8px;
    color: white;
    font-weight: bold;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  #apartment .nextPrevApartmentPointer:hover {
    padding: 40px 60px; }

#apartment-form {
  background-color: #9f9f9f;
  width: 27%;
  border-radius: 8px;
  padding: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; }
  #apartment-form .title-form {
    font-size: 1.2rem; }
  #apartment-form .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    width: 100%;
    margin: 5px 0;
    border-radius: 4px;
    min-height: 2rem;
    padding: 0.25rem; }
    #apartment-form .input-wrapper .input {
      background-color: transparent;
      border: none;
      outline: none; }
  #apartment-form .submit {
    background-color: #910667;
    color: #ededed;
    border: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #apartment-form .submit:hover {
      background-color: #790556; }

#carousel-and-form-wrapper {
  background-color: honeydew;
  margin: 2rem 0;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#carousel-example-interval {
  width: 100%; }
  #carousel-example-interval .carousel-inner {
    height: 60vh; }
  #carousel-example-interval .responsive-carousel {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%; }

@media (min-width: 992px) {
  #carousel-example-interval {
    width: 70%; } }

.map-apartment {
  height: 17rem;
  padding: 0;
  margin-bottom: 1rem; }
  .map-apartment .map-container {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%; }
  .map-apartment .map-container iframe {
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

@media (min-width: 576px) {
  .map-apartment .map-container {
    width: 60%;
    margin-left: auto; } }
